---
layout: default
---

<div class="container" id="main">

	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading"><span class="glyphicon glyphicon glyphicon-file pull-right"></span>
				<h4>{{page.title}}</h4>
			</div>
			<div class="panel-body">        
				{{content}}
			</div>
		</div>
	</div>


	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading"></span>
				<h4>Discussion</h4>
			</div>
			<div class="panel-body">        
				<div id="disqus_thread"></div>
				<script>
				/** * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS. * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables */		 
				/*
				var disqus_config = function () {
					this.page.url = "{{page.url}}"; // Replace PAGE_URL with your page's canonical URL variable 
					this.page.identifier = "{{page.url}}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable 
				}; 
				*/
				(function() { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script'); s.src = '//am2tawnet.disqus.com/embed.js'; s.setAttribute('data-timestamp', +new Date()); (d.head || d.body).appendChild(s); })();
				</script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
			</div>
		</div>
	</div>

</div>